################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FieldsChangeDetector
/FieldsChangeDetector/bin
/FieldsChangeDetector/BenchmarkDotNet.Artifacts
/FieldsChangeDetector/obj
/RoslynComparatorGenerator/bin/Release/net6.0
/RoslynComparatorGenerator/obj
/.vs/ProjectEvaluation
/RoslynComparatorGenerator/bin/Debug
/Generator/bin/Debug/netstandard2.0
/Generator/obj
/Generator.Tests/bin/Debug/net6.0
/Generator.Tests/obj
/ChangeDetectorLibrary/bin/Debug/net6.0
/ChangeDetectorLibrary/obj
/ChangeDetectorLibrary/bin
/Generator/bin/Release/netstandard2.0
/Generator.Tests/bin/Release/net6.0
